<template name="home">
     <div id="packages" class="main-content padding-wrapper">
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive red archive icon"></i>
                    </div>
                </div>
                <div class="column">
                    <h3 class="large ui header">Atmosphere packages <div class="sub header">Don't reinvent the wheel</div></h3>
                    <p>
                        There are the a lot of
                        <a href="https://github.com/matteodem/meteor-boilerplate/blob/master/.meteor/packages">helpful packages</a>
                        to get you started asap. Some of them are.</p>
                    <div class="ui list">
                        {{#each package}}
                            <a href="{{path}}" class="item no-underline link">
                                <i class="archive icon"></i>
                                {{name}}
                            </a>
                        {{/each}}
                    </div>
                    <div class="ui info message">
                        <div class="header">
                            Removed Packages
                        </div>
                        "insecure" and "autopublish" are removed by default!
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
