body {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 2em;
}

.add-thread-container {
    margin: .2em 0;
    padding: .2em;
  border-bottom:2px solid #ddd;
}